@font-face
	font-family: 'AvantGarde'
	src: url('../fonts/AvantGarde.otf')

a
	text-decoration: none
	color: unset
	transition: .3s

	&:hover
		color: #f50

menu
	list-style-type: none
	margin: 0
	padding: 0

ul
	margin: 0

body
	margin: 0
	min-height: 100vh
	font-family: 'AvantGarde'
	display: grid
	grid-template-rows: auto 1fr auto
	color: #484848
	overflow-y: hidden

	header,
	main,
	footer
		display: flex
		justify-content: center

		.inner
			max-width: 1200px
			width: 100%
			padding: 0 15px
			display: grid

	header,
	footer
		.logo
			display: flex
			align-items: center

			&:hover
				color: unset

			.logo-img
				background-image: url('../img/logo.png')
				background-position: center
				background-size: contain
				background-repeat: no-repeat

		menu
			display: flex
			flex-grow: 1

			a:hover
				color: #f50

	header
		font-size: 20px
		line-height: 1em
		border-bottom: 3px solid #f50
		z-index: 1
		background: #fff
		position: relative

		.inner
			display: grid
			grid-template-columns: auto auto
			align-items: center
			position: relative

		.logo
			padding: 15px 0

			.logo-img
				width: 4em
				height: 4em

		menu
			justify-content: flex-end
			height: 100%

			li
				transition: .3s

				a
					display: flex
					align-items: center
					padding: 0 1em
					height: 100%

					&.active
						color: #f50

					&:hover + ul
						top: calc(100% - 3px)
						opacity: 1

				ul
					position: absolute
					margin: 0
					left: 0
					top: -100vw
					opacity: 0
					transition: opacity .5s
					margin-top: 3px
					padding: 1.5em 0
					background: #fff
					border-top: 3px solid #f50

					&:after
						position: absolute
						width: 100vw
						height: 100%
						box-shadow: 0 10px 30px 0 rgba(1, 46, 154, .15)
						content: ''
						top: 0
						left: 50%
						margin-left: -50vw
						z-index: -1

					&:hover
						top: calc(100% - 3px)
						opacity: 1

					li
						list-style-type: none
						font-size: .9em
						display: grid
						align-items: baseline
						grid-template-columns: repeat(5, 1fr)
						grid-gap: 25px 15px
						width: 100%
						padding: 15px

	main
		flex-direction: column
		align-items: baseline
		justify-content: flex-start

		.breadcrumbs
			max-width: 1200px
			width: 100%

		.inner
			grid-template-columns: 1fr 25%
			grid-gap: 50px
			padding-bottom: 2em

		.content
			.search
				max-width: 100%
				padding: .5em .5em .5em 1em
				display: grid
				grid-template-columns: 1fr auto 12.5%
				transition: .3s
				border: 1px solid #dde0e3
				border-radius: 3px
				grid-gap: 1em

				&:hover
					border-color: #f50

				input
					border: none
					font-size: 1em
					outline: none

					&::placeholder
						font-style: italic
						transition: .3s

					&:focus::placeholder
						color: transparent

				.calendar
					display: grid
					grid-template-columns: 1fr 1em 1fr
					align-items: center

					input
						width: 85px
						text-align: center

					span
						text-align: center

				button
					border: none
					background: #f50
					color: #fff
					font-weight: 700
					border-radius: 3px
					padding: 1em 0
					cursor: pointer
					outline: none

		aside
			align-self: baseline

			ul
				list-style: none
				padding: 0
				border-left: 1px solid #dde0e3

				li
					padding: 0 1.5em
					border-left: 3px solid #00000000
					margin-left: -1px
					transition: .3s

					&.current
						border-color: #f50
						color: #f50

					a
						padding: 1em 0
						display: block

					&:not(:last-child)
						a
							border-bottom: 1px solid #dde0e3

	footer
		background: #f1f2f2
		padding: 50px 0
		font-size: 20px
		line-height: 1.5em

		h1
			font-size: 20px

		.inner
			display: grid
			grid-template-columns: 40% 1fr auto
			align-items: flex-start
			grid-gap: 0 3em

		.logo
			margin-bottom: 1.5em
			font-weight: 700
			line-height: 1em

			.logo-img
				height: 3em
				width: 3em
				margin-right: .5em

		.contacts
			line-height: 1.5em
			font-size: 16px

		menu
			display: grid
			grid-template-rows: auto auto auto auto
			justify-content: flex-start